server {
        listen 80 default_server;
        listen [::]:80 default_server;
	server_name localhost;
	return 301 https://$server_name:8080$request_uri;


    	root "{{ wp_instalation_dir }}wordpress/";
        index index.php index.html index.htm index.nginx-debian.html;
        server_name _;

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;

                fastcgi_pass unix:/run/php/php7.0-fpm.sock;

        }
}

server {
	listen              443 ssl;
	server_name localhost:8080;
	      ssl_certificate     /etc/nginx/ssl/cert.crt;
        ssl_certificate_key /etc/nginx/ssl/cert.key;
        ssl_protocols       SSLv3 TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;


        root "{{ wp_instalation_dir }}wordpress/";
        index index.php index.html index.htm index.nginx-debian.html;
        server_name _;

        location ~ \.php$ {
                include snippets/fastcgi-php.conf;

        fastcgi_pass unix:/run/php/php7.0-fpm.sock;

        }
}
